
Data/owid-covid-data.csv
Data/covid-vacinations.xlsx
Data/covid-vacinations.xls
Data/covid-vacinations.csv
Data/covid-deaths2.csv
Data/covid-deaths.xlsx
Data/covid-deaths.csv
Data/.DS_Store
.DS_Store
Data/covid-deaths3.csv
Data/Processed/Tableau-Table1.xlsx
Data/Processed/Tableau-Table2.xlsx
Data/Processed/Tableau-Table3.xlsx
Data/Processed/Tableau-Table4.xlsx
